:root {
    --accent-color: rgb(50, 150, 255);
}

* {
    margin: 0;
    padding: 0;
    font-family: Nunito;
    scroll-behavior: smooth;
}

body {
    background: rgb(30, 30, 30);
    z-index: -999999999;
}

button {
    cursor: pointer;
}

.menu-toggle {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 5;
    background: rgb(20, 20, 20);
    border-radius: 0.2em;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 3px;
    transition: 200ms ease-in-out;
}

.menu-toggle:hover {
    background: var(--accent-color);
    cursor: pointer;
}

svg {
    cursor: pointer;
}

svg rect {
    fill: rgb(200, 200, 200);
    transition: 200ms ease-in-out;
}

.menu-toggle:hover svg rect {
    fill: white;
}

.menu {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgb(20, 20, 20);
    transition: 1000ms ease-in-out;
    display: grid;
    justify-content: center;
    z-index: 4;
}

.un-toggle {
    background: rgb(30, 30, 30);
    border-radius: 0.2em;
    position: absolute;
    top: 50px;
    right: 50px;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 3px;
    transition: 200ms ease-in-out;
}

.un-toggle:hover {
    background: var(--accent-color);
}

.un-toggle svg rect {
    transition: 200ms ease-in-out;
}

.un-toggle:hover rect {
    fill: white;
}

.color-selection {
    width: 80%;
    justify-content: center;
    padding: 50px;
    display: flex;
    gap: 25px;
    grid-row: 2;
}

.color-selector {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 20;
}

#color-blue {
    background: rgb(50, 150, 255)
}
#color-red {
    background: rgb(255, 50, 50)
}
#color-green {
    background: rgb(50, 255, 153)
}
#color-yellow {
    background: rgb(230, 230, 50)
}
#color-purple {
    background: rgb(230, 50, 230)
}

.color-selector-selected {
    opacity: 0;
    position: absolute;
    transform: translate(-9.75px, -9.75px);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 5px solid rgb(200, 200, 200);
    z-index: 19;
    transition: 100ms ease-in-out;
}

.color-selector-border {
    opacity: 0;
    position: absolute;
    transform: translate(-9.75px, -9.75px);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 5px solid rgb(60, 60, 60);
    z-index: 18;
    transition: 100ms ease-in-out;
}

.color-selector:hover .color-selector-border {
    opacity: 1;
}

.message {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-inline: 50px;
    border-bottom: 2px solid rgb(40, 40, 40);
}

.username {
    font-size: 15px;
    color: rgb(150, 150, 150);
    overflow-wrap: wrap;
    word-wrap: break-word;
}

.username-gray {
    font-size: 15px;
    color: rgb(60, 60, 60);
    overflow-wrap: wrap;
    word-wrap: break-word;
}

.user {
    color: var(--accent-color);
}

.reply-div {
    background: url('images/reply-arrow.svg');
    background-repeat: no-repeat;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    grid-column: 1;
}

.reply-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30px fit-content(1000px);
}

.reply-content {
    text-align: left;
    color: rgb(60, 60, 60);
    font-size: 15px;
    grid-column: 2;
    margin-top: 11px;
}

.button {
    background-image: url('images/edit.svg');
    height: 20px;
    width: 20px;
    position: absolute;
    right: 100px;
    cursor: pointer;
}

.reply {
    background-image: url('images/reply.svg');
    background-repeat: cover;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 50px;
    cursor: pointer;
}

.message-id {
    display: none;
}

.content {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(200, 200, 200);
    overflow-wrap: wrap;
    word-wrap: break-word;
}

.content-gray {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(133, 133, 133);
    overflow-wrap: wrap;
    word-wrap: break-word;
}

.divider {
    height: 3px;
    background: rgb(40, 40, 40);
}

.send-message {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-block: 20px;
    background: rgb(20, 20, 20);
}

.bottom {
    height: 77px
}

.input {
    outline: none;
    border: none;
    width: 70%;
    height: 40px;
    background: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    padding: 20px;
    border-radius: 0.2em;
}

.send-button {
    outline: none;
    border: none;
    background: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    transition: 200ms ease-in-out;
    padding-inline: 15px;
    border-radius: 0.2em;
}
.send-button:hover { background: var(--accent-color); color: white; }

.login {
    display: grid;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgb(20, 20, 20);
    transition: 2000ms;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0, 1);
}

.login-form {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    width: 100%;
}

#authenticating {
    position: fixed;
    z-index: 1000;
    color: rgb(200, 200, 200);
    width: 100%;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
}

.login-input-1, .login-input-2 {
    margin-inline: 25%;
    margin-bottom: 20px;
    width: 50%;
    border-radius: 0.2em;
}

.button-wrapper {
    display: flex;
    gap: 26px;
    margin-inline: 25%;
    width: 50%;
    justify-content: center;
}

.login-button {
    width: 80px;
    outline: none;
    border: none;
    background: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    transition: 200ms ease-in-out;
    height: 40px;
    width: 75px;
    border-radius: 0.2em;
}
.login-button:hover { background: var(--accent-color); color: white; }

.sign-up-button {
    width: 85px;
    border-radius: 0.2em;
}

::-webkit-scrollbar {
    width: 0px;
}
